
/* --------------------------------------------
   < 1200px VIEWPORT
-------------------------------------------- */			
				
        @media (max-width: 1200px) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
        .container { width: 960px; }
       
        }


/* --------------------------------------------
  TABLET IN LANDSCAPE
-------------------------------------------- */

 	
	/*TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:*/
	@media (max-width: 1024px) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
	.container { width: 768px; }
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner section {margin: 12px 0 15px 0; height: 160px; line-height: 175px; }
            #banner h1 {font-size: 125px;}
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */

        /* --------------------------------------------
           MAIN SECTION
        -------------------------------------------- */

	    
	} 

	
        @media (max-device-width: 1024px) and (orientation: landscape) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
        .container { width: 768px; }
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner section {margin: 12px 0 15px 0; height: 160px; line-height: 175px; }
            #banner h1 {font-size: 125px;}
  
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */

        /* --------------------------------------------
           MAIN SECTION
        -------------------------------------------- */

        }


/* --------------------------------------------
  TABLET IN PORTRAIT
-------------------------------------------- */

	
	/*TO PREVIEW ON THE DESKTOP, REPLACE THE QUERY WITH THE FOLLOW:*/
	@media (max-width: 768px) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
	.container { width: 600px; }
        .bar {margin-top: -3px; margin-bottom: 10px; position: relative; z-index: 100;}
        header{ height: 150px;}
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner {margin: 10px 0 0 0;}
        #banner section {margin: 12px 0 15px 0; height: 150px; line-height: 165px; }
            #banner h1 {font-size: 110px;}
        /* --------------------------------------------
            NAV
        -------------------------------------------- */
        nav { margin-top: 10px; height: 22px; line-height: normal;}
            nav h2 {display: none;}
                nav ul {float: none; width: 385px; margin: 0 auto;}
                            nav ul li a {border-top: solid 1px #8a907e;}
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */

        /* --------------------------------------------
           MAIN SECTION
        -------------------------------------------- */

	} 


        @media (max-device-width: 1024px) and (orientation: portrait) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
	.container { width: 600px; }
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner section {margin: 12px 0 15px 0; height: 150px; line-height: 165px; }
            #banner h1 {font-size: 110px;}
        /* --------------------------------------------
            NAV
        -------------------------------------------- */
        nav {margin-top: 10px;height: 22px; line-height: normal;}
            nav h2 {display: none;}
                nav ul {float: none; width: 385px; margin: 0 auto;}
                            nav ul li a {border-top: solid 1px #8a907e;}
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */
   
        /* --------------------------------------------
           MAIN SECTION
        -------------------------------------------- */

        }


/* --------------------------------------------
  MOBILE LANDSCAPE
-------------------------------------------- */

        @media (max-width: 600px) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
	.container { width: inherit;}

        /* --------------------------------------------
            NAV
        -------------------------------------------- */
        nav {margin-top: 10px;height: 22px; line-height: normal;}
            nav h2 {display: none;}
                nav ul {float: none; width: 385px; margin: 0 auto;}
                            nav ul li a {border-top: solid 1px #8a907e;}
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner section {margin: 12px 0 15px 0; height: 130px; line-height: 140px; }
            #banner h1 {font-size: 90px;}
  
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */
        

        }
        
/* --------------------------------------------
  MOBILE PORTRAIT
-------------------------------------------- */

        @media (max-width: 400px) {
        /* --------------------------------------------
            GENERAL
        -------------------------------------------- */
	.container { width: inherit;}


        /* --------------------------------------------
            NAV
        -------------------------------------------- */
        nav {margin-top: 10px;height: 80px; line-height: normal;}
            nav h2 {float: none; text-align: center; margin: 20px 0;}
                nav ul {float: none; width: 385px; margin: 0 auto;}
                            nav ul li a {border-top: solid 1px #8a907e;}
        /* --------------------------------------------
            BANNER
        -------------------------------------------- */
        #banner section {margin: 12px 0 15px 0; height: 90px; line-height: 95px; }
            #banner h1 {font-size: 55px;}
  
        /* --------------------------------------------
            GALLERY
        -------------------------------------------- */
        

        }        